.add-towns-card {
    margin-top: 3%;
    margin-right: 25%;
    margin-left: 25%;
}

.atownf-container {
    display: flex;
    flex-direction: column;
    padding: 2%;
}

.atown-form > * {
    width: 100%;
}

.atown-submit {
    width: 49%;
    margin-right: 2%;
}

.atown-reset {
    width: 49%;
}
