<mat-card class="add-towns-card mat-elevation-z6">
    <mat-card-header>
        <mat-card-title>Add Town</mat-card-title>
    </mat-card-header>
    <hr/>
    <mat-card-content>
        <div class="atownf-container">
            <form [formGroup]="addTownForm" class="atown-form" color="basic">
                <mat-form-field appearance="outline">
                    <mat-label>Town Name</mat-label>
                    <input matInput placeholder="Town Name" type="text" formControlName="townname" id="townname" #townname>
                </mat-form-field>
                <div *ngIf="townname.invalid && (townname.dirty || townname.touched)" class="alert alert-danger">
                    <div *ngIf="townname.errors.required">Town Name is required.</div>
                </div>
                <mat-form-field appearance="outline">
                    <mat-label>Country Name</mat-label>
                    <input matInput placeholder="Country Name" type="text" formControlName="countryname" id="countryname">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Country Code</mat-label>
                    <input matInput placeholder="Country Code" type="text" formControlName="countrycode" id="countrycode">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Country Code(ISO)</mat-label>
                    <input matInput placeholder="Country Code(ISO)" type="text" formControlName="isocountrycode" id="isocountrycode">
                </mat-form-field>
                <div>
                <button mat-raised-button class="atown-submit" color="primary" type="submit" [disabled]="!addTownForm.valid">Submit</button>
                <button mat-raised-button class="atown-reset" color="warn" type="reset">Reset</button>
                </div>
            </form>
        </div>
    </mat-card-content>
</mat-card>
