<mat-toolbar color="primary" class="navigation-bar mat-elevation-z6">
    <mat-toolbar-row>
        <button mat-mini-fab color="primary" (click)="sidenav.toggle()">
            <mat-icon class="menu-toggle">menu</mat-icon>
        </button>
        <h1 class="navigation-title">Application Title</h1>
        <span class="example-fill-remaining-space"></span>
        <span>Right Aligned Text</span>
    </mat-toolbar-row>
 </mat-toolbar>
 <mat-sidenav-container class="navigation-sidebar">
    <mat-sidenav mode="side" #sidenav opened>
       <mat-nav-list>
            <a mat-list-item routerLink="/dashboard" routerLinkActive="active">
                <mat-icon>dashboard</mat-icon>
                <div class="mat-icon-text"> Dashboard </div>
            </a>
            <a mat-list-item routerLink="/movies" routerLinkActive="active">
                <mat-icon>movie</mat-icon>
                <div class="mat-icon-text"> Movies </div>
            </a>
            <a mat-list-item routerLink="/actors" routerLinkActive="active">
                <mat-icon>recent_actors</mat-icon>
                <div class="mat-icon-text"> Actors </div>
            </a>
            <a mat-list-item routerLink="/directors" routerLinkActive="active">
                <mat-icon>supervised_user_circle</mat-icon>
                <div class="mat-icon-text"> Directors </div>
            </a>
            <a mat-list-item routerLink="/companies" routerLinkActive="active">
                <mat-icon>developer_board</mat-icon>
                <div class="mat-icon-text"> Production Company </div>
            </a>
            <a mat-list-item routerLink="/towns" routerLinkActive="active">
                <mat-icon>location_city</mat-icon>
                <div class="mat-icon-text"> Home Town </div>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
 </mat-sidenav-container>