.add-actors-card {
    margin-top: 25px;
    margin-right: 25%;
    margin-left: 25%;
}

.aactorf-container {
    display: flex;
    flex-direction: column;
}

.aactor-form > * {
    width: 100%;
}
.aactor-submit {
    width: 50%;
}
.aactor-reset {
    width: 50%;
}
