<mat-card class="add-actors-card mat-elevation-z6">
    <mat-card-header>
        <mat-card-title>Add Actor</mat-card-title>
    </mat-card-header>
    <hr/>
    <mat-card-content>
        <div class="aactorf-container">
            <form [formGroup]="addActorForm" class="aactor-form" color="basic">
                <mat-form-field appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input matInput placeholder="First Name" type="text" formControlName="firstname" id="firstname">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input matInput placeholder="Last Name" type="text" formControlName="lastname" id="lastname">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email" type="email" formControlName="email" id="email">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Birth Day</mat-label>
                    <input matInput placeholder="Birth Day" type="date" formControlName="birthday" id="birthday">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Height(cm)</mat-label>
                    <input matInput placeholder="Height(cm)" type="number" formControlName="height" id="height">
                    <span class="aactor-height-unit">cm</span>
                </mat-form-field>                 
                <mat-form-field appearance="outline">
                    <mat-label>Gender</mat-label>
                    <mat-select formControlName="gender">
                        <mat-option>Male</mat-option>
                        <mat-option>Female</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Home Town</mat-label>
                    <mat-select formControlName="town">
                        <mat-option>Piliyandala</mat-option>
                        <mat-option>Homagama</mat-option>
                    </mat-select>
                </mat-form-field>
                <div>
                <button mat-raised-button class="aactor-submit" color="primary" type="submit" [disabled]="!addActorForm.valid">Submit</button>
                <button mat-raised-button class="aactor-reset" color="warn" type="reset">Reset</button>
                </div>
            </form>
        </div>
    </mat-card-content>
</mat-card>
